<div class="row-fluid">
    <div class="span6">
        <div class="form-horizontal">
            <div class="control-group emailGroup">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="control-group passwordGroup">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword"
                        placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary signInBtn">Sign
                        in</button>
                </div>
            </div>
            <div class="control-group error errorContainer">
                <div class="controls">
                    <div class="errorMessage"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Not a friend?</label>
                <div class="controls">
                    <button type="submit" class="btn btn-success signUpBtn">Join
                        Us</button>
                </div>
            </div>
        </div>
    </div>
</div>