<div class="container">
    <div class="row">
        <div class="row-fluid">
            <div class="span12">
                <div class="header"></div>
                <div class="search pull-right"></div>
                <div>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Uploader</th>
                            <th>GameType</th>
                        </thead>
                        <tbody class="replays">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>