h-client/node_modules/*
h-client/src/components/*
h-client/target*
h-client/.project
h-client/.settings/*
h-client/src/thrift/gen*
h-client/src-cov*
.metadata
h-server/war/WEB-INF/lib/*
h-server/war/WEB-INF/classes/*
h-server/war/dist/*
