<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input type="text" class="input-xxlarge" id="title"
                placeholder="Title" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="gameType">Game Type</label>
        <div class="controls">
            <select id="gameType" class="gameType">
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea rows="10" class="input-xxlarge" id="description"
                placeholder="Description"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="file">File</label>
        <div class="controls">
            <input type="text" class="input-xxlarge" id="file"
                placeholder="File" />
        </div>
    </div>
    <div class="control-group">
        <label class="controls">
            <button type="submit" class="btn">Upload</button>
        </label>
    </div>
</form>