.appView {
    
    @headerHeight : 40px;
    @videosHeight : 360px;
    @whitespace : 20px;

    .header {
        height: @headerHeight;
    }

    .videos {
        height: @videosHeight;
        overflow: hidden;
        margin-top: @whitespace;
    }

}